.form-header {
	text-align: center;
	font-size: 30px;
}
.form-top-content,
.form-middle-content,
.form-bottom-content {
	margin-top: 50px;
	text-align: center;
}
.form-submit-btn {
	position: absolute;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	margin-top: 40px;
}
.ant-form-item {
	margin: 10px;
}